*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.header{
    font-weight: 1000;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(29, 29, 29);
    padding: 20px 10px 20px 10px;
}

.footer{
    font-weight: 700;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: white;
    background-color: rgb(29, 29, 29);
    padding: 20px 10px 20px 10px;
}

.main{
    height: 100%;
    width: 100%;
    margin-bottom: 79px;
    background-color: rgb(220, 220, 220);
    display: flex;
    flex-direction: row;
}

.main #board-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 0px;
    width: 60%;
}

.main #board-container button{
    border: solid 2px black;
    width: 100%;
    height: 100%;
}

.main #board-container button:hover{  
    background-color: rgb(200, 200, 200);
}

.main .panel{
    height: 100%;
    width: 20%;
    color: white;
    background-color: rgb(29, 29, 29);
}